/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    font-family: 'Roboto';
}

#root {
    height: 100vh;
}

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);
