.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    padding: 2rem;

    .reloadButton {
        align-self: center;
    }

    .consumptionUnit {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        align-items: center;
    }
}
